.logo {
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    transition: color var(--transition-duration-function);

    &:hover,
    &:focus {
            color: var(--accent-color-link);
        }
}
.logo__text {
    color: var(--color-logo-span);
}

.logo__page-header {
    color: var(--color-logo-header);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo__footer {
    color: var(--color-logo-footer);
    margin-bottom: 20px;
}